<?xml version="1.0" encoding="UTF-8"?>
<Root>
    <GroupA Type="A" Test="asdasd">
        <Name>
            <Content>111111</Content>
        </Name>
        <Name>
            <Content>222222</Content>
        </Name>
        <Name>
            <Content>333333</Content>
        </Name>
    </GroupA>
    <GroupB Type="B"/>
    <GroupC Type="C"/>
</Root>